@font-face {
    font-family: 'MangoDdobak-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SokchoBadaDotum';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/SokchoBadaDotum.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'WavvePADO-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChosunGu';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MangoDdobak-B';
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFC300;
}

h1 {
    font-family: 'SokchoBadaDotum';
    font-size: 24px;
    margin-bottom: 20px;
}

h2{
    font-weight: bold;
}

.container {
    max-width: 800px;
    width: 100%;
}

.case {
    background: white;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.case h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.case p {
    font-family: 'ChosunGu';
    font-size: 18px;
    margin: 10px 0;
}

.box {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

.box-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.box-content {
    font-size: 16px;
    line-height: 1.5;
}
