<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>당신을 위한 판례찾기 서비스</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='recommend.css') }}">
</head>

<body>

<h1>추천 판례들</h1>

<div class="container">
    {% for case in recommend_cases %}
    <div class="case">
        <h2><strong>판례일련번호 :</strong> {{ case.case_id }}</h2>
        <p><strong>사건번호 :</strong>{{ case.사건번호 }}</p> <br>
        <div class="box-container">
            <p class="box-title"><strong>판시사항 :</strong></p>
            <div class="box">
                <p class="box-content">{{ case.판시사항 }}</p>
            </div>
        </div>
        <div class="box-container">
            <p class="box-title"><strong>판결요지 :</strong></p>
            <div class="box">
                <p class="box-content">{{ case.판결요지 }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

</body>
</html>
